amqp==2.1.4
billiard==3.5.0.2
boto3==1.4.3
botocore==1.4.93
celery==4.0.2
cffi==1.9.1
cryptography==1.7.1
Django==1.10
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-environ==0.4.1
docutils==0.13.1
idna==2.2
jmespath==0.9.0
kombu==4.0.2
paramiko==2.1.1
pyasn1==0.1.9
pycparser==2.17
python-dateutil==2.6.0
python-env==1.0.0
pytz==2016.10
redis==2.10.5
requests==2.12.4
s3transfer==0.1.10
six==1.10.0
vine==1.1.3
